## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [8]:
# Your code here
sample_list_1 = random.sample(range(101),k=80)

print(sample_list_1)

[97, 8, 56, 96, 76, 13, 66, 40, 47, 62, 68, 43, 17, 16, 22, 30, 85, 82, 33, 24, 81, 60, 46, 11, 9, 20, 41, 87, 34, 5, 57, 6, 84, 71, 63, 64, 75, 79, 53, 91, 15, 31, 65, 4, 94, 44, 72, 1, 70, 77, 26, 61, 23, 83, 32, 25, 18, 35, 12, 80, 73, 7, 78, 14, 69, 52, 10, 89, 36, 58, 2, 27, 51, 86, 67, 21, 98, 48, 19, 88]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here
set1 = set(sample_list_1)
len(set1)

# still same length of 80 values because random.sample generates list of unique values for k
# so converting it to a set still keep its 80 unique values

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [13]:
# Your code here
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randrange(0,101))
    
sample_list_2

[20,
 48,
 38,
 28,
 53,
 49,
 68,
 76,
 95,
 85,
 36,
 34,
 12,
 49,
 76,
 94,
 16,
 23,
 96,
 80,
 32,
 75,
 69,
 82,
 87,
 19,
 33,
 83,
 10,
 31,
 33,
 29,
 82,
 89,
 12,
 18,
 62,
 31,
 47,
 33,
 89,
 70,
 44,
 82,
 39,
 81,
 91,
 36,
 26,
 36,
 42,
 7,
 89,
 72,
 94,
 80,
 9,
 94,
 23,
 51,
 58,
 89,
 100,
 34,
 15,
 6,
 3,
 12,
 92,
 11,
 59,
 76,
 46,
 31,
 40,
 58,
 96,
 57,
 96,
 65]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [18]:
# Your code here
set2 = set(sample_list_2)
len(set2)

# random.randrange() does not generate unique values = there might be duplicates
# converting sample_list_2 to set2 erases duplicated values - here only 56 unique values kept

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [23]:
# Your code here
set3 = set1.difference(set2)

print(set3)

{1, 2, 4, 5, 8, 13, 14, 17, 21, 22, 24, 25, 27, 30, 35, 41, 43, 52, 56, 60, 61, 63, 64, 66, 67, 71, 73, 77, 78, 79, 84, 86, 88, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [26]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{3, 100, 38, 39, 42, 92, 49, 59, 28, 29, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [21]:
# Your code here
set5 = set1.union(set2)

print(set5)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 51, 52, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 94, 95, 96, 97, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [30]:
# Your code here
print('length of set1:',len(set1))
print('length of set2:',len(set2))
print('length of set3:',len(set3))
print('length of set4:',len(set4))
print('length of set5:',len(set5))

length of set1: 80
length of set2: 56
length of set3: 35
length of set4: 11
length of set5: 91

#### Create an empty set called `set6`.

In [35]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [36]:
# Your code here
set6 = set3.update(set5)
print(set6)

None

#### Check if `set1` and `set6` are equal.

In [43]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [42]:
# Your code here
set2.issubset(set1)

set3.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [40]:
# Your code here
union_set = set3.union(set4,set5)

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here
set1.pop()

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [39]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)