# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import pymysql

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# import data set from Ironhack's database
driver   = 'mysql+pymysql:'
user     = 'data-guest_viewer'
password = 'guest_ironhack'
ip       = '127.0.0.1'
database = 'Orders'

In [3]:
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
print(connection_string)

mysql+pymysql://data-guest_viewer:guest_ironhack@127.0.0.1/Orders

In [4]:
engine = create_engine(connection_string)
print(engine)

Engine(mysql+pymysql://data-guest_viewer:***@127.0.0.1/Orders)

In [5]:
order_show = pd.read_sql('SHOW TABLES', engine)
order_show

c:\users\langl\appdata\local\programs\python\python38\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xC3' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

  Tables_in_orders
0           orders

In [6]:
df_order = pd.read_sql('SELECT * FROM orders', engine, index_col='index')
df_order

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
index,,,,,,,,,,,,,
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,581587,22899,2011,12,5,12,children s apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [7]:
#creating sub df with only essential columns
df_order_main = df_order[['Quantity', 'InvoiceDate', 'UnitPrice','CustomerID', 'Country','amount_spent']].copy()

In [8]:
#Sub Problem 1: How to aggregate the amount_spent for unique customers?

#creating group by df, grouped by CustomerID (with Country information)
df_customer = df_order_main.groupby(['CustomerID', 'Country']).agg({'amount_spent':'sum'})

df_customer

                           amount_spent
CustomerID Country
12346      United Kingdom      77183.60
12347      Iceland              4310.00
12348      Finland              1797.24
12349      Italy                1757.55
12350      Norway                334.40
...                                 ...
18280      United Kingdom        180.60
18281      United Kingdom         80.82
18282      United Kingdom        178.05
18283      United Kingdom       2094.88
18287      United Kingdom       1837.28

[4347 rows x 1 columns]

In [9]:
#Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?

# Checking with describe various quartile
df_order_main.describe()

            Quantity      UnitPrice     CustomerID   amount_spent
count  397924.000000  397924.000000  397924.000000  397924.000000
mean       13.021823       3.116174   15294.315171      22.394749
std       180.420210      22.096788    1713.169877     309.055588
min         1.000000       0.000000   12346.000000       0.000000
25%         2.000000       1.250000   13969.000000       4.680000
50%         6.000000       1.950000   15159.000000      11.800000
75%        12.000000       3.750000   16795.000000      19.800000
max     80995.000000    8142.750000   18287.000000  168469.600000

In [10]:
# Creating bins
spending_binned = pd.qcut(x=df_order_main['amount_spent'],
                q=[0, .25, .5, .75, 1])

spending_binned

index
0             (11.8, 19.8]
1         (19.8, 168469.6]
2         (19.8, 168469.6]
3         (19.8, 168469.6]
4         (19.8, 168469.6]
                ...
397919        (4.68, 11.8]
397920        (11.8, 19.8]
397921        (11.8, 19.8]
397922        (11.8, 19.8]
397923        (11.8, 19.8]
Name: amount_spent, Length: 397924, dtype: category
Categories (4, interval[float64]): [(-0.001, 4.68] < (4.68, 11.8] < (11.8, 19.8] < (19.8, 168469.6]]

In [11]:
#Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

# VIP : .95 percentile 
# Preferred Customers : .75 percentile

In [12]:
# Creating new df 'Label' column with required Customer labels
df_customer['Label'] = pd.qcut(x=df_customer['amount_spent'],
                labels=['average Joe', 'Preferred Customers', 'VIP'],
                q=[0, .75, .95, 1])

df_customer

                           amount_spent                Label
CustomerID Country
12346      United Kingdom      77183.60                  VIP
12347      Iceland              4310.00  Preferred Customers
12348      Finland              1797.24  Preferred Customers
12349      Italy                1757.55  Preferred Customers
12350      Norway                334.40          average Joe
...                                 ...                  ...
18280      United Kingdom        180.60          average Joe
18281      United Kingdom         80.82          average Joe
18282      United Kingdom        178.05          average Joe
18283      United Kingdom       2094.88  Preferred Customers
18287      United Kingdom       1837.28  Preferred Customers

[4347 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [13]:
#creating sub VIP df with only VIP customers - grouping by Country

df_VIP = df_customer[df_customer.Label == 'VIP'].groupby(['Country']).agg({'Label':'count'})

df_VIP.sort_values(by='Label',ascending=False)
#UK is the country with the most VIPs

                 Label
Country
United Kingdom     178
Germany             11
France               9
Switzerland          3
Spain                2
Portugal             2
Japan                2
EIRE                 2
Finland              1
Channel Islands      1
Netherlands          1
Norway               1
Singapore            1
Denmark              1
Sweden               1
Cyprus               1
Australia            1

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [14]:
#creating sub df with VIP + Preferred Customers - grouping by Country

#Solution 1 : if we want to keep distinction between 2 Labels
df_preferred_customers = df_customer[df_customer.Label != 'average Joe'].groupby(['Country', 'Label']).agg({'Label':'count'})

df_preferred_customers.rename(columns={'Label':'label_amount'}, inplace=True)
df_preferred_customers.sort_values(by='label_amount', ascending=False)

                                     label_amount
Country         Label
United Kingdom  Preferred Customers           756
                VIP                           178
Germany         Preferred Customers            28
France          Preferred Customers            20
Belgium         Preferred Customers            11
Germany         VIP                            11
France          VIP                             9
Switzerland     Preferred Customers             6
Norway          Preferred Customers             6
Spain           Preferred Customers             5
Portugal        Preferred Customers             5
Italy           Preferred Customers             5
Finland         Preferred Customers             4
Switzerland     VIP                             3
Australia       Preferred Customers             3
Channel Islands Preferred Customers             3
Israel          Preferred Customers             2
Cyprus          Preferred Customers             2
Denmark         Preferred Customers             2
Japan           Preferred Customers             2
                VIP                             2
Spain           VIP                             2
EIRE            VIP                             2
Portugal        VIP                             2
Austria         Preferred Customers             1
Canada          Preferred Customers             1
Sweden          VIP                             1
                Preferred Customers             1
Channel Islands VIP                             1
Singapore       VIP                             1
Finland         VIP                             1
Poland          Preferred Customers             1
Norway          VIP                             1
Netherlands     VIP                             1
Malta           Preferred Customers             1
Lebanon         Preferred Customers             1
Australia       VIP                             1
Iceland         Preferred Customers             1
Greece          Preferred Customers             1
Denmark         VIP                             1
EIRE            Preferred Customers             1
Cyprus          VIP                             1